@import '../../App.global.scss';

.best {
    display: flex;
    padding: 30px 15px 15px 15px;
    background: linear-gradient(rgb(57, 57, 57) 0% 50%, $content-background 50% 100%);
    border: 1px solid $dark-border;
    z-index: 0;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 10px;
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

.background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
    overflow: hidden;
    background-color: rgb(41, 41, 41);

    .inner {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }
}

.first {
    display: flex;
    gap: 15px;

    .icon {
        width: 140px;
        border-radius: 50%;
        height: 140px;
        background-color: rgb(69, 69, 69);
        border: 8px solid $content-background;
        position: relative;
        user-select: none;

        &:hover {
            .popup {
                opacity: 1;
                visibility: visible;
            }
        }
        
        .inner {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-end;
        padding: 10px 0px;

        .username {
            color: white;
            font-size: 16px;
        }

        .email {
            font-size: 14px;
            color: $gray-color-for-font;
        }
    }
}

.button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid $dark-border;
    border-radius: 8px;
    transition: background-color 200ms;
    user-select: none;

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }
}

.popup {
    visibility: hidden;
    opacity: 0;
    transition: all 200ms;
    display: flex;
    position: absolute;
    left: auto;
    bottom: -110px;
    background-color: $content-background;
    border: 1px solid $dark-border;
    padding: 10px;
    z-index: 1000;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;

    .input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }

    .text:nth-child(1) {
        .pin {
            color: rgb(0, 145, 255);
            font-size: 22px;
        }
    }

    .text:nth-child(2) {
        .pin {
            color: rgb(255, 95, 95);
        }
    }

    .text {
        color: $gray-color-for-font;
        white-space: nowrap;
        padding: 5px;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        border-radius: 10px;
        transition: background-color 200ms;
        user-select: none;
        position: relative;
        font-size: 14px;

        .pin {
            font-size: 20px;
        }


        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            cursor: pointer;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
}