@import '../../App.global.scss';

@keyframes loading {
    0% {}

    20% {
        filter: contrast(100%);
    }

    50% {
        filter: contrast(70%);
    }

    80% {
        filter: contrast(100%);
    }

    100% {}
}

.container {
    padding: 20px 0px;
    display: flex;
    width: 100%;
    gap: 10px;
    height: 100%;
    overflow: hidden;
}

.chats {
    max-width: 405px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $content-background;
    border-radius: 15px;
    border: 1px solid $dark-border;
    overflow: hidden;
}

.chats-header {
    width: 100%;
    max-height: 55px;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 18px;
}

.form {
    width: 100%;
    padding: 0 20px;
    max-height: 35px;
    height: 100%;

    .label {
        width: 100%;
        height: 100%;
        background-color: rgb(30, 30, 30);
        border: 1px solid $dark-border;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0 10px;
        position: relative;

        .pin {
            color: $gray-color-for-font;
            transform: rotateZ(90deg);
        }

        .input {
            position: absolute;
            font-size: 16px;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: transparent;
            color: white;
            outline: none;
            border: none;
            padding-left: 36px;
            padding-bottom: 1px;

            &:focus {
                border-bottom: 1px solid rgb(0, 211, 21);
                padding-bottom: 0px;
            }
        }
    }
}

.chat-list {
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: calc(100% - 90px);
    flex-direction: column;
    gap: 15px;
    padding: 0 20px 10px 20px;

    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.loader {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.first {
    animation: loading 2s normal 0s infinite forwards;
    display: flex;
    gap: 10px;
    align-items: center;
}

.avatar {
    animation: loading 2s normal 0s infinite forwards;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(40, 40, 40);
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;

    .username {
            animation: loading 2s normal 0s infinite forwards;
        height: 14px;
        width: 90px;
        background-color: rgb(40, 40, 40);
        border-radius: 5px;
    }

    .message {
        animation: loading 2s normal 0s infinite forwards;
        height: 12px;
        width: 120px;
        background-color: rgb(40, 40, 40);
        border-radius: 5px;
    }
}

.date {
    animation: loading 2s normal 0s infinite forwards;
    background-color: rgb(40, 40, 40);
    height: 12px;
    width: 62px;
    border-radius: 5px;
}