@import '../../App.global.scss';

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $content-background;
    border: 1px solid $dark-border;
    padding: 15px;
    border-radius: 15px;

    .text {
        padding: 5px 20px;
        color: $gray-color-for-font;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }
}