@import '../../App.global.scss';

@keyframes more-options-enable {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes more-options-disable {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.post {
    background-color: $content-background;
    border: 1px solid $dark-border;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .first {
        display: flex;
        gap: 10px;
        height: 46px;
        align-items: center;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(69, 69, 69);
    border: 1px solid $dark-border;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }

    .avatar-image {
        width: 100%;
        height: 100%;
    }
}

.user-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .username {
        color: white;
        font-size: 16px;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
        }
    }

    .createdAt {
        color: $gray-color-for-font;
        font-size: 12px;
        white-space: nowrap;
    }
}

.more-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
}

.more {
    font-size: 30px;
    color: $gray-color-for-font;

    &:hover {
        cursor: pointer;
    }
}

.more-options {
    z-index: 200;
    animation: more-options-enable 400ms ease 0s 1 forwards;
    position: absolute;
    top: 110%;
    right: 0px;
    background-color: $content-background;
    border: 1px solid $dark-border;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;

    .option {
        padding: 4px;
        color: $gray-color-for-font;
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 4px;
        border-radius: 10px;
        transition: all 200ms;
        user-select: none;

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.more-options-disable {
    animation: more-options-disable 400ms ease 0s 1 forwards;
}

.description {
    width: 100%;
    color: white;
    font-size: 18px;
    white-space: pre-wrap;
}

.footer {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
}

@mixin media {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    color: $gray-color-for-font;
    height: 34px;

    &:hover {
        cursor: pointer;
    }
}

.like {
 @include media;
}

.dislikes {
 @include media;
}

.comments {
 @include media;

 .pin {
    font-size: 18px;
 }
}

.pin {
    font-size: 22px;
    color: $gray-color-for-font;
}

@keyframes like-liked {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes like-liked-pin {
    0% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1);
    }
}

// --------------------------------------------------------


@keyframes like-liked-disable {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes like-liked-pin-disable {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.6);
    }
}

.like-liked {
    animation: like-liked 200ms ease 0s 1 forwards;
    background-color: rgba(255, 0, 0, 0.15);
    opacity: 1;

    .pin-wrapper {
        background-color: rgb(255, 0, 0);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .pin {
            animation: like-liked-pin 200ms ease 0s 1 forwards;
            font-size: 18px;
            color: white;
        }
    }
}

.like-liked-disable {
    animation: like-liked-disable 200ms ease 0s 1 forwards;

    .pin {
        animation: like-liked-pin-disable 200ms ease 0s 1 forwards;
    }
}

@keyframes dislike-active {
    0% {
        color: $gray-color-for-font;
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        color: rgb(255, 62, 62);
    }
}

@keyframes dislike-disable {
    0% {
        opacity: 1;
        color: rgb(255, 62, 62);
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        color: $gray-color-for-font;
    }
}

.dislike-active {
    color: rgb(255, 62, 62);
    animation: dislike-active 200ms ease 0s 1 forwards;

    .pin {
        color: inherit;
    }
}

.dislike-disable {
    animation: dislike-disable 200ms ease 0s 1 forwards;
    transform: scale(1);
}