* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-horizontal-center {
  display: flex;
  align-items: center;
}
$dark-background: rgb(15, 15, 15);
$dark-border: rgb(45, 45, 45);
$gray-color-for-font: rgb(190, 190, 190);
$content-background: rgb(21, 21, 21);