.container {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    position: relative;

    @media (max-width: 850px) {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    @media (max-width: 500px) {
        padding-top: 90px;
    }
}