@import '../../App.global.scss';

.friend {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .first {
        display: flex;
        gap: 10px;
        flex: 1 1;
        min-width: 200px;
        align-items: center;

        .avatar {
            width: 75px;
            height: 75px;
            background-color: rgb(69, 69, 69);
            border-radius: 50%;
            position: relative;
            flex: 0 0;

            @media (max-width: 426px) {
                width: 50px;
                height: 50px;
            }

            &:hover {
                cursor: pointer;
            }

            .inner {
                width: 75px;
                height: 75px;
                object-fit: contain;
                border-radius: 50%;

                @media (max-width: 426px) {
                    width: 50px;
                    height: 50px;
                }
            }

            .is-online {
                position: absolute;
                background-color: rgb(75, 179, 75);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 5px solid $content-background;
                bottom: 14.64%;
                right: 14.64%;
                transform: translate(50%, 50%);
            }

            .offline {
                background-color: gray;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 0px;
            min-width: 0;
            flex: 1;
            overflow: hidden;

            .username {
                font-size: 16px;
                color: white;
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 0;
                max-width: 85%;

                @media (max-width: 426px) {
                    font-size: 14px;
                }


                &:hover {
                    cursor: pointer;
                }
            }

            .email {
                font-size: 14px;
                color: $gray-color-for-font;
                min-width: 0;
                max-width: 85%;
                text-overflow: ellipsis;
                overflow: hidden;

                @media (max-width: 426px) {
                    font-size: 12px;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex: 0 0;
        gap: 20px;
        align-items: center;

        .message {
            font-size: 24px;
            color: $gray-color-for-font;

            &:hover {
                cursor: pointer;
                user-select: none;
            }
        }

        .bats {
            top: -6px;
            font-size: 24px;
            display: flex;
            align-items: center;
            color: $gray-color-for-font;
            position: relative;

            &:hover {
                cursor: pointer;
                user-select: none;
            }

            .options {
                z-index: 500;
                visibility: hidden;
                opacity: 0;
                transition: all 200ms;
                display: flex;
                justify-content: center;
                gap: 10px;
                background-color: rgb(42, 42, 42);
                padding: 5px;
                border: 1px solid $dark-border;
                border-radius: 10px;
                position: absolute;
                top: 100%;
                right: 0;
            }

            .button {
                transition: all 200ms;
                white-space: nowrap;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px 5px;
                border-radius: 10px;

                &:hover {
                    background-color: rgb(69, 69, 69);
                }
            }
        }
    }
}

.notfound {
    font-size: 20px;
    margin: auto;
    color: $gray-color-for-font;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}